.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  list-style: none;
  padding: 50px 0;
  flex-wrap: wrap;
  .pagination-link {
    padding: 10px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: var(--c);
    cursor: pointer;
}
  .active{
    background-color: #eff6ff;
    border: 2px solid #006eff;
    color: black;
    
  }
}
