.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: -20px;
    width: 50px;
    height: 50px;
    background-color: #eff6ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3b82f6;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
}
/* ////////////////////////////////////////buttons position At Home Page //////////////////////////////////// */
.swiper-button-prev {
    right: 4rem;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.swiper-button-next {
    right: 0rem;
}
/* ////////////////////////////////////////buttons position At Filter Component //////////////////////////////////// */
.filters{
    .swiper{
        overflow: visible !important;
    }
    
    .swiper-button-prev {
        top:-40px;
        left: 0px;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
    
    .swiper-button-next {
        right: 0px;
        top:-40px;
    }
}
