/* //////////////////////////////////////////Home Page Styles//////////////////////////////////////////////// */
.home-page {
    .specialties {
        .specialty-item:hover{
            .icon-and-title {
                flex-direction: row;
                margin-top: 0;
            }
            p {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .swiper{
        width: 100%;
        position: relative;
        overflow: visible;
        padding: 50px 0;

    .swiper-wrapper {
        height: 100%;
        display: flex;
        .doctor-item {
            transition: transform 0.3s ease;
            &:hover {
                transform: translateY(-10px);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
        }
    }
    
}
}
/* //////////////////////////////////////////End of Home Page Styles//////////////////////////////////////////////// */