/* //////////////////////////////////////////Home Page Styles//////////////////////////////////////////////// */
.home-page {
    .specialties {
        .specialty-item:hover {
            .icon-and-title {
                flex-direction: row;
                margin-top: 0;
            }

            p {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .swiper {
        width: 100%;
        position: relative;
        overflow: visible;
        padding: 50px 0;
        z-index: -1;
        .swiper-wrapper {
            height: 100%;
            display: flex;

        }
        
    }
}
.doctor-item {
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}

/* //////////////////////////////////////////End of Home Page Styles//////////////////////////////////////////////// */
/* //////////////////////////////////////////start of Doctors Page Styles//////////////////////////////////////////////// */
.doctors-page {
    .title{
        position: relative;
        z-index: 0;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(180deg, white 30%, transparent 100%);
        z-index: -1;

    }}
    .swiper {
        width: 100%;
        position: relative;
        overflow: visible;
        padding: 50px 0;
        /* z-index: -1; */

        .swiper-wrapper {
            height: 100%;
            display: flex;

            .doctor-item {
                transition: transform 0.3s ease;

                &:hover {
                    transform: translateY(-10px);
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                }
            }
        }

    }.populer-doctors{
        .swiper-button-next {
            background-color: #75757585;
            border: 3px solid #fff;
            color: #fff;
            right: 0rem;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
        }
    
        .swiper-button-prev {
            background-color: #75757585;
            border: 3px solid #fff;
            color: #fff;
            left: 0rem;
            top: 50%;
            transform: translateY(-50%) rotate(180deg);
            -webkit-transform: translateY(-50%) rotate(180deg);
            -moz-transform: translateY(-50%) rotate(180deg);
            -ms-transform: translateY(-50%) rotate(180deg);
            -o-transform: translateY(-50%) rotate(180deg);
        }

    }
}


/* //////////////////////////////////////////End of Doctors Page Styles//////////////////////////////////////////////// */
