.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    .loading-spinner {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.2em;
  width: 6em;
  height: 4em;
  span {
    width: 1em;
    height: 4em;
    background-color: #fff;
  }
  
  span:nth-of-type(1) {
    animation: grow 1s -0.45s ease-in-out infinite;
  }
  
  span:nth-of-type(2) {
    animation: grow 1s -0.3s ease-in-out infinite;
  }
  
  span:nth-of-type(3) {
    animation: grow 1s -0.15s ease-in-out infinite;
  }
  
  span:nth-of-type(4) {
    animation: grow 1s ease-in-out infinite;
  }
}}


@keyframes grow {
  0%,
  100% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(2);
  }
}
